
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml

*.pickle
*.pyc
.idea/workspace.xml
.idea/workspace.xml
.DS_Store
.idea/workspace.xml
*.xml
*.xml
.idea/workspace.xml
*.svg
*.pyc
plts/*.pdf
