
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
*.csv
*.pickle
.idea/workspace.xml
.idea/workspace.xml
.DS_Store
.idea/workspace.xml
*.xml
*.xml
.idea/workspace.xml
*.svg
plts/*.pdf
/react/node_modules
/react/.vscode
*.pyc