beautifulsoup4==4.9.3
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
cvxopt==1.2.5
cycler==0.10.0
data==0.4
decorator==4.4.2
Flask==1.1.2
Flask-Cors==3.0.9
funcsigs==1.0.2
future==0.18.2
html5lib==1.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.1.0
latex==0.7.0
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.0.3
multitasking==0.0.9
numpy==1.18.5
opencv-python==4.4.0.42
pandas==0.25.3
patsy==0.5.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
requests==2.25.0
scipy==1.4.1
shutilwhich==1.1.0
six==1.15.0
soupsieve==2.0.1
statsmodels==0.11.1
tempdir==0.7.1
urllib3==1.26.2
webencodings==0.5.1
Werkzeug==1.0.1
yfinance==0.1.55
