/*****************/
/* Button Styles */
/*****************/

.allbuttonscontainer{
    float:right;
    width:10%;
    z-index:100000;
}

.allbuttons{
    position:fixed;
    top:25%;
    right:0;
    z-index:100000;
}

.graph-buttons {
    position:relative;
    top:10%;
    width:100%;
    padding-top: 50px;
    float:right;
    z-index: 20000;
}

.graph-buttons button {
    padding-top: 4px;
    background-color:#181818;
    color:#fff;
    outline:0 !important;
    box-shadow:none !important;
}

.control-buttons {
    position:absolute;
    padding-bottom:8px;
    outline:0 !important;
    box-shadow:none !important;
    float:right;
    z-index:2000;
}


.control-buttons button {
    outline:0 !important;
    box-shadow:none !important;
}

.btn-outline-primary {
    background-color: #fff8e7 !important;
}


.btn-success:hover {
    background-color: #007d4b !important;
}

.btn-outline-primary:hover {
    background-color:#fff8e7 !important;
    color:#0275d8 !important;
}

.btn-outline-primary:focus {
    background-color:#fff8e7 !important;
}

.btn-success:focus {
    background-color:#007d4b !important;
}


/**************/
/* Tag Styles */
/**************/

body {
    background-color:#fff8e7!important;   /*cosmic latte*/
}

img {
    height: 250px;
    float: left;
}

div {
    clear: left;
}

span {
    padding-bottom: 10px;
}


button{
    display: block;
    padding:10px;
}



/****************************/
/* Logo + Description Style */
/****************************/

.tdcontainer{
    margin-top:-15px;
    width:35%;
    padding-bottom:15px;
}

.logo {
    width:100%;
    height:auto;
    padding: 10px;
    float: none;
}

.desctable {
    padding: 10px;
}

.desctable td{
    text-align:center;
}


/**********************/
/* Input Table Styles */
/**********************/


.capcontainer{
    padding-left:10px;
}

.captable {
    width: 100%;
}

.captable table {
    border: 1px solid black;
    float: left;
    margin-bottom:10px;
    margin-right: 10px;

}

.captable td {
    border: 1px solid black;
}

.captable th {
    border: 1px solid black;
    font-size: 10pt;
}

.input-tables {
    position:relative;
    width:88%;
    left:2%;
}

.stock-tables{
    padding-bottom:30px;
}


/*********************/
/* Message Box Style */
/*********************/


.message-box {
    position:relative;
    text-align:center;
}

.spacer{
    height:22px;
}


/************************/
/* Graph Related Styles */
/************************/


.graph{
    position:absolute;
    visibility:hidden;
    margin-left: auto;
    margin-right: auto;
    left:-40px;
}


.graph-container{
    position:relative;
    top:-90px;
    z-index:1;
}


svg{
    height:75vh;
    width:100vw;
}



/*********************/
/* Logout Link Style */
/*********************/


.logout-link {
    position:fixed;
    right:0;
    padding-right:8px;
    top:95%;
    z-index: 1000001!important;
}




