body {
    background-color: white;
}

img {
    height: 250px;
    float: left;
}

div {
    clear: left;
}

span {
    padding-bottom: 10px;
}


button{
    display: block;

    padding:10px;
}


.logo {
    height: 50pt;
    padding: 10px;
    float: none;
}

.desctable {
    padding: 10px;
}

.captable {
    width: 90%;
}

.captable table {
    border: 1px solid black;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;

}

.captable td {
    border: 1px solid black;
}

.captable th {
    border: 1px solid black;
    font-size: 10pt;
}


.gtable table {
    border: 1px solid black;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;

}

.gtable td {
    border: 1px solid black;
}

.gtable th {
    border: 1px solid black;
    font-size: 10pt;
}


.controltable {
    width: 90%;
}

.controltable table {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}

.controltable td {
    /*border: 1px solid black;*/
    vertical-align: top;
}

.slidecontainer {
    margin-top: -10px;
}

.graph-buttons {
    width: 100%;
    top:10%;
    padding-top: 50px;
}

.graph-buttons button {
    padding-top: 4px;
    background-color:#181818;
    color:#fff;
    outline:0!important;
    box-shadow:none!important;
}

.graph-buttons a {
    padding-top: 4px;
    background-color:#181818;
    color:#fff;
    outline:0!important;
    box-shadow:none!important;
}


.control-buttons {
    padding-bottom:8px;
}

.control-buttons button {
    outline:0!important;
    box-shadow:none!important;
}

.graph{
    position:absolute;
    visibility:hidden;
}


.graph-container{
    position:absolute;
    top:20%;
    left:18%;
    bottom:5%;
    right:18%;
    border-style:solid;
    border-color:rgb(255, 226, 182);
    z-index:-1;

}

svg{
    height:75vh;
}

