body {
    background-color:#fff8e7;   /*cosmic latte*/
}

img {
    height: 250px;
    float: left;
}

div {
    clear: left;
}

span {
    padding-bottom: 10px;
}


button{
    display: block;
    padding:10px;
}


.logo {
    height: 50pt;
    padding: 10px;
    float: none;
}

.desctable {
    padding: 10px;
}

.captable {
    width: 90%;
}

.captable table {
    border: 1px solid black;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;

}

.captable td {
    border: 1px solid black;
}

.captable th {
    border: 1px solid black;
    font-size: 10pt;
}


.gtable table {
    border: 1px solid black;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;

}

.gtable td {
    border: 1px solid black;
}

.gtable th {
    border: 1px solid black;
    font-size: 10pt;
}


.controltable {
    width: 90%;
}

.controltable table {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}

.controltable td {
    /*border: 1px solid black;*/
    vertical-align: top;
}

.slidecontainer {
    margin-top: -10px;
}

.graph-buttons {
    position:relative;
    top:10%;
    width:100%;
    padding-top: 50px;
    float:right;
    z-index:20000;
}

.graph-buttons button {
    padding-top: 4px;
    background-color:#181818;
    color:#fff;
    outline:0!important;
    box-shadow:none!important;
}

.control-buttons {
    position:absolute;
    padding-bottom:8px;
    outline:0!important;
    box-shadow:none!important;
    float:right;
    z-index:2000;
}


.control-buttons button {
    outline:0!important;
    box-shadow:none!important;
}


.btn-success:hover {
    background-color: #007d4b !important;
}

.btn-outline-success:hover {
    background-color:#fff8e7 !important;
    color:#007d4b !important;
}

.btn-outline-success:focus {
    background-color:#fff8e7 !important;
}

.btn-success:focus {
    background-color:#007d4b!important;
}

.logout-link {
    position:fixed;
    right:0;
    padding-right:8px;
    top:95%;
}

.input-tables {
    position:relative;
    width:88%;
    left:2%;
}

.message-box {
    position:relative;
    padding-top:30px;
    text-align:center;
}

.graph{
    position:relative;
    visibility:hidden;
}


.graph-container{
    position:relative;
    width:40%;
    float:left;
    text-align:center;
    left:4%;
    top:-50px;
    z-index:1;
}


svg{
    height:80vh;
}

