body {
    background-color: white;
}

img {
    height: 250px;
    float: left;
}

div {
    clear: left;
}

span {
    padding-bottom: 10px;
}


button{
    display: block;

    padding:10px;
}


.logo {
    height: 50pt;
    padding: 10px;
    float: none;
}

.desctable {
    padding: 10px;
}

.captable {
    width: 90%;
}

.captable table {
    border: 1px solid black;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;

}

.captable td {
    border: 1px solid black;
}

.captable th {
    border: 1px solid black;
    font-size: 10pt;
}


.gtable table {
    border: 1px solid black;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;

}

.gtable td {
    border: 1px solid black;
}

.gtable th {
    border: 1px solid black;
    font-size: 10pt;
}


.controltable {
    width: 90%;
}

.controltable table {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}

.controltable td {
    /*border: 1px solid black;*/
    vertical-align: top;
}

.slidecontainer {
    margin-top: -10px;
}

.graph-buttons {
    width: 100%;
    top:10%;
    padding-top: 50px;
    float:right;
}

.graph-buttons button {
    padding-top: 4px;
    background-color:#181818;
    color:#fff;
    outline:0!important;
    box-shadow:none!important;
}

.graph-buttons a {
    padding-top: 4px;
    background-color:#181818;
    color:#fff;
    outline:0!important;
    box-shadow:none!important;
}


.control-buttons {
    padding-bottom:8px;
    outline:0!important;
    box-shadow:none!important;
    float:right;
}

.control-buttons button {
    outline:0!important;
    box-shadow:none!important;
}

.logout-link {
    position:fixed;
    right:0;
    padding-right:8px;
    top:95%;
}

.input-tables {
    position:relative;
    left:2%;
}

.message-box {
    position:relative;
    padding-top:30px;
    text-align:center;
}

.graph{
    position:absolute;
    visibility:hidden;
    margin: auto;
}


.graph-container{
    position:absolute;
    margin: auto;
    text-align:center;
    margin-top:-13vh;
    margin-left:25vh;
    /*border-style:solid;
    border-color:rgb(255, 226, 182);*/

}


svg{
    height:80vh;
}

