<html>

<head>

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/crm_style.css" />
    <link rel="stylesheet" href="static/css/modal_crm.css" />

</head>

<body>

    <div id="crmReact"></div>

    <!-- Babel JS for transpiling -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>


    <!-- Core React JS -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>


    <!-- Component JS -->
    <script type="text/babel" src='static/js/components/DataTable.js'></script>
    <script type="text/babel" src='static/js/components/Crm.js'></script>

    <!-- Non-React JS -->
    <script src="static/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</html>