<html>

    <head>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" href="static/css/crm_style.css" />
        <link rel="stylesheet" href="static/css/modal_crm.css" />

    </head>

    <body>




        <div id="crmReact"></div>



    </body>    


        <!-- Babel JS for transpiling -->
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

        <!-- Core React JS -->
        <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
        <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

        <!-- Component JS -->
        <script type="text/babel" src='static/js/components/DataTable.js'></script>
        <script type="text/babel" src='static/js/components/Logs.js'></script>
        <script type="text/babel" src='static/js/components/Modals.js'></script>
        <script type="text/babel" src='static/js/components/Crm.js'></script>

        <!-- Non-React JS -->
        <script src="static/js/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</html>