<html>

<head>

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/crm_style.css" />
    <link rel="stylesheet" href="static/css/modal_crm.css" />

</head>

<body>

    <div id="crmReact"></div>

    <!-- Core React JS -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

    <!-- Babel JS for transpiling -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <!-- Component JS -->
    <script type="text/babel" src='static/js/components/DataTable.js'></script>
    <script type="text/babel" src='static/js/components/Crm.js'></script>

    <!-- Non-React JS -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
</body>

</html>