<html>

<body>
    <h1>Markowitz Model</h1>

    <table>
        <tr>
            <td>
                <button onclick="basic()">Load Graphs</button>
            </td>
            <td>
                <button onclick="backtest()"> Load Backtest</button>
            </td>
            <td>
                <div class="slidecontainer">
                    <input type="range" min="1" max="80" value="25" class="slider" id="risk">
                </div>
            </td>
            <td id="std">Sigma : .2 |</td>
            <td id="mean">| Mu : 1.05</td>
            <td id="weight"> Sim. Port. : [.25,.25,.25,.25]
        </tr>
    </table>


    <div id="graphs"></div>
    <div id="norm"></div>
    <div id="backtest"></div>
    <div id="weights"></div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

    function update_vals() {
        std = stds[risk]
        mean = means[risk]
        portfolio = portfolios[risk]
        console.log(portfolios)
        document.getElementById("std").innerHTML = "SIMGA : " + Math.round(std * 100) / 100
        document.getElementById("mean").innerHTML = "MU :" + Math.round(mean * 100) / 100
        document.getElementById("weight").innerHTML = portfolio
    }

    function setRisk() {
        console.log("adjusting risk");
        risk = $(this).val();
        console.log(risk + " of " + 80)
        if (portfolios.length == 0) {
            console.log("Please load graphs first ");
            return;
        }
        update_vals();
        //set variables that will post to flask to select risk level
        //display this risk level on the screen.

    }

    function norm() {
        update_vals()
        postOnClick("/norm", load_norm, { "std": std, "mu": mean })

    }

    function load_norm(data) {
        document.getElementById("norm").innerHTML = data["normal"]
    }

    function load_basic(data) {
        console.log(data)
        document.getElementById("graphs").innerHTML = data["images"]
        stds = eval(data["risks"])
        means = eval(data["returns"])
        portfolios = eval(data["portfolios"])
        norm()
    }

    function basic() {
        postOnClick("/mark", load_basic, { "risk": risk });
    }

    function load_backtest(data) {
        document.getElementById("backtest").innerHTML = data["backtest"]
        document.getElementById("weights").innerHTML = data["weights"]
    }

    function backtest() {
        postOnClick("/back", load_backtest, { "risk": risk })
    }

    //execution
    var portfolios = []
    var risk = document.getElementById("risk").value;
    var means = []
    var stds = []
    console.log("Default risk is " + risk);
    $("#risk").on("change", setRisk);

</script>

<style>
    body {
        background-color: powderblue;
    }

    img {
        height: 250px;
        float: left;
    }

    div {
        clear: left;
        padding: 10px;
    }
</style>

<script>//libs.js

    //repeatedly makes get requests to a server, until a zero is returned.
    function streamData(url, func) {
        function fetchData() {
            $.get(url, {}, cd);
        }
        //fetches data from server and runs func on the data over and over until it returns done.
        function cd(data) {
            if (func(data) == "done") return
            wait = 1000;
            setTimeout(fetchData, wait);
        }
        fetchData();
    }

    function getFormSubmitForUrl(url, func) {
        function formSubmit(event) {
            event.target.action = url;
            hidden = '<input type="hidden" name="clientTime" value="' + clientTime + ' >'
            event.target.innerHtml += hidden
            console.log(event.target)
            var request = new XMLHttpRequest();
            request.open('POST', url, true);
            request.onload = function () { // request successful
                // we can use server response to our request now
                event.target.reset();
                //            console.log("responseText: " + request.responseText);
                func(request.responseText);
            };
            request.onerror = function () {
                // request failed
            };
            request.send(new FormData(event.target)); // create FormData from form that triggered event
            event.preventDefault();
        }
        return formSubmit
    }


    // and you can attach form submit event like this for example
    function attachFormSubmitEvent(formId, url, func) {
        document.getElementById(formId).addEventListener("submit", getFormSubmitForUrl(url, func));
    }


    //  Data is a dictionary
    function postOnClick(url, func, data) {
        data['hidden_tiger'] = 5;
        var encoded_data = JSON.stringify(data);
        $.post(url, data, func);
    }
</script>

</html>