<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Greenstar Financial</title>
    <link rel="stylesheet" href="static/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <script src="static/d3.v5.js" async=""></script>
    <script src="static/mpld3.v0.5.2.js" async=""></script>
</head>

<body style="background-color:#fff8e7;">

    <center class="firm">
        <div style="width:35%;padding-bottom:25px;padding-top:7px;">
            <table class="desctable">
                <tr>
                    <td>
                        &nbsp
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="logo" src="{{ img }}" style="width:100%;height:auto;">
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;">
                        <i>{{ title }}</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp
                    </td>
                </tr>
            </table>
        </div>
    </center>




    <!--
        <table>
            <tr>
                <td>
                    <div class="slidecontainer">
                        <input type="range" min="0" max="199" value="25" class="slider" id="risk" name="risk">
                    </div>
                </td>
                <td id="std"> Risk % </td>
                <td> | </td>
                <td id="mean"> Return % </td>
                <td></td>
            </tr>
        </table>
        -->

    <!--        <table>
            <tr>
                <td id="weight"> Portfolio : FB : 25% , NT : 25% , NVD : 25% , LSA : 25%</td>
            </tr>
        </table>
        -->

    </div>

    <div>

    </div>

    <div style="padding-left:10px;">

        <!--        <a id="link" style="display:none;">Show Form</a>-->
        <div class="control-buttons">
            <button class="btn btn-dark" onclick="showhide()">Show Form</button>
            <button class="btn btn-dark" onclick="request_graphs()">Run Computation</button>
            <button class="btn btn-dark" onclick="genReport()">Print Report</button>
        </div>

        <form class="captable" id="captable" action="/report" target="_blank" method="POST">

            <input type="hidden" value="25" id="risk" name="risk">



            <table>
                <tr>
                    <th>Name</th>
                    <th>Birthday</th>
                    <th>Term (yrs.)</th>
                    <th>End Date (YYYY-MM-DD)</th>
                </tr>
                <tr>
                    <td><input type="text" name="name" placeholder="John Smith" size="13"></td>
                    <td><input type="text" name="birthday" placeholder="12/28/1960" size="9"></td>
                    <td><input type="text" name="term" placeholder="7" size="3"></td>
                    <td style="text-align:center;"><input type="text" id="date-input" name="date-input" size="10"></td>
                </tr>
            </table>

            <div>
                <table>
                    <tr>
                        <th>Stock Assets</th>
                        <th>$$$</th>
                        <th>min.</th>
                        <th>max.</th>
                    </tr>
                    <tr>
                        <td>Lg. Cap Growth</td>
                        <td><input type="text" name="Large Cap Growth" size="7"></td>
                        <td><input type="text" name="Large Cap GrowthY" size="1" value=0%></td>
                        <td><input type="text" name="Large Cap GrowthX" size="1" value=100%></td>
                    </tr>
                    <tr>
                        <td>Lg. Cap Value</td>
                        <td><input type="text" name="Large Cap Value" size="7"></td>
                        <td><input type="text" name="Large Cap ValueY" size="1" value=0%></td>
                        <td><input type="text" name="Large Cap ValueX" size="1" value=100%></td>
                    </tr>
                    <tr>
                        <td>Sm. Cap Growth</td>
                        <td><input type="text" name="Small Cap Growth" size="7"></td>
                        <td><input type="text" name="Small Cap GrowthY" size="1" value=0%></td>
                        <td><input type="text" name="Small Cap GrowthX" size="1" value=100%></td>
                    </tr>
                    <tr>
                        <td>Sm. Cap Value</td>
                        <td><input type="text" name="Small Cap Value" size="7"></td>
                        <td><input type="text" name="Small Cap ValueY" size="1" value=0%></td>
                        <td><input type="text" name="Small Cap ValueX" size="1" value=100%></td>
                    </tr>
                    <tr>
                        <td>Mid Cap</td>
                        <td><input type="text" name="Mid Cap" size="7"></td>
                        <td><input type="text" name="Mid CapY" size="1" value=0%></td>
                        <td><input type="text" name="Mid CapX" size="1" value=100%></td>
                    </tr>
                    <tr>
                        <td>Mid Cap</td>
                        <td><input type="text" name="International Stock" size="7"></td>
                        <td><input type="text" name="International StockY" size="1" value=0%></td>
                        <td><input type="text" name="International StockX" size="1" value=100%></td>
                    </tr>
                    <tr>
                        <td>Mid Cap</td>
                        <td><input type="text" name="Emerging Mkt Stock" size="7"></td>
                        <td><input type="text" name="Emerging Mkt StockY" size="1" value=0%></td>
                        <td><input type="text" name="Emerging Mkt StockX" size="1" value=100%></td>
                    </tr>
                </table>



                <table>
                    <tr>
                        <th>Bond Assets</th>
                        <th>$$$</th>
                        <th>min.</th>
                        <th>max.</th>
                    </tr>
                    <tr>
                        <td>Int. Gov. Bonds</td>
                        <td><input type="text" name="International Gov Bonds" size="7"></td>
                        <td><input type="text" name="International Gov BondsY" size="1" value=0%></td>
                        <td><input type="text" name="International Gov BondsX" size="1" value=100%></td>
                    </tr>
                    <tr>
                        <td>Long Gov. Bonds</td>
                        <td><input type="text" name="Long Gov Bonds" size="7"></td>
                        <td><input type="text" name="Long Gov BondsY" size="1" value=0%></td>
                        <td><input type="text" name="Long Gov BondsX" size="1" value=100%></td>
                    </tr>
                    <tr>
                        <td>Corp. Bonds</td>
                        <td><input type="text" name="Corporate Bonds" size="7"></td>
                        <td><input type="text" name="Corporate BondsY" size="1" value=0%></td>
                        <td><input type="text" name="Corporate BondsX" size="1" value=100%></td>
                    </tr>
                    <tr>
                        <td>High Yield Bonds</td>
                        <td><input type="text" name="High Yield Bonds" size="7"></td>
                        <td><input type="text" name="High Yield BondsY" size="1" value=0%></td>
                        <td><input type="text" name="High Yield BondsX" size="1" value=100%></td>
                    </tr>
                    <tr>
                        <td>Muni. Bonds</td>
                        <td><input type="text" name="Municipal Bonds" size="7"></td>
                        <td><input type="text" name="Municipal BondsY" size="1" value=0%></td>
                        <td><input type="text" name="Municipal BondsX" size="1" value=100%></td>
                    </tr>
                    <tr>
                        <td>Foreign Bonds</td>
                        <td><input type="text" name="Foreign Bonds" size="7"></td>
                        <td><input type="text" name="Foreign BondsY" size="1" value=0%></td>
                        <td><input type="text" name="Foreign BondsX" size="1" value=100%></td>
                    </tr>
                    <tr>
                        <td>Em. Mkt. Debt</td>
                        <td><input type="text" name="Emerging Mkt Debt" size="7"></td>
                        <td><input type="text" name="Emerging Mkt DebtY" size="1" value=0%></td>
                        <td><input type="text" name="Emerging Mkt DebtX" size="1" value=100%></td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <th>Other Assets</th>
                        <th>$$$</th>
                        <th>min.</th>
                        <th>max.</th>

                    </tr>
                    <tr>
                        <td>V.C.</td>
                        <td><input type="text" name="V.C." size="7"></td>
                        <td><input type="text" name="V.C.Y" size="1" value=0%></td>
                        <td><input type="text" name="V.C.X" size="1" value=100%></td>
                    </tr>
                    <tr>
                        <td>Real Estate</td>
                        <td><input type="text" name="Real Estate" size="7"></td>
                        <td><input type="text" name="Real EstateY" size="1" value=0%></td>
                        <td><input type="text" name="Real EstateX" size="1" value=100%></td>
                    </tr>
                    <tr>
                        <td>Commodities</td>
                        <td><input type="text" name="Commodities" size="7"></td>
                        <td><input type="text" name="CommoditiesY" size="1" value=0%></td>
                        <td><input type="text" name="CommoditiesX" size="1" value=100%></td>
                    </tr>
                    <tr>
                        <td>Cash</td>
                        <td><input type="text" name="Cash" size="7"></td>
                        <td><input type="text" name="CashY" size="1" value=0%></td>
                        <td><input type="text" name="CashX" size="1" value=100%></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>


    <!--    <div class="graphstable">-->
    <!--        <table>-->
    <!--            <tr>-->
    <!--                <td> Output Graphs</td>-->
    <!--            </tr>-->
    <!--            <td>-->
    <div style="padding-left:12px;">
        <p id="message"></p>
    </div>

    <div class="row">
        <div class="col-10 graph-container" id="graphs">
            <div class="graph" id="frontier"></div>
            <div class="graph" id="current"></div>
            <div class="graph" id="prescribed"></div>
            <div class="graph" id="daily"></div>
            <div class="graph" id="line"></div>
            <div class="graph" id="bell"></div>
        </div>
        <div class="col-2">
            <div class="btn-group-vertical btn-group-toggle graph-buttons">
                <button class="btn btn-secondary" name="frontier" onclick="mplview(this)">Frontier</button>
                <button class="btn btn-secondary" name="current" onclick="mplview(this)">Current Pie</button>
                <button class="btn btn-secondary" name="prescribed" onclick="mplview(this)">Prescribed Pie</button>
                <button class="btn btn-secondary" name="daily" onclick="mplview(this)">Asset Classes </button>
                <button class="btn btn-secondary" name="line" onclick="mplview(this)">Line Graph</button>
                <button class="btn btn-secondary" name="bell" onclick="mplview(this)">Bell Curve</button>
            </div>
        </div>

    </div>

    &nbsp;
    <!--    <center>-->
    <!--    <div>-->
    <!--    <button class="btn btn-dark" name="frontier" onclick="mplview(this)">Frontier</button>-->
    <!--    <button class="btn btn-dark" name="current" onclick="mplview(this)">Current Portfolio Pie</button>-->
    <!--    <button class="btn btn-dark" name="prescribed" onclick="mplview(this)">Prescribed Portfolio Pie</button>-->
    <!--    <button class="btn btn-dark" name="daily" onclick="mplview(this)">Daily Asset Class Performance</button>-->
    <!--    <button class="btn btn-dark" name="line" onclick="mplview(this)">Yearly Portfolio Performance</button>-->
    <!--    <button class="btn btn-dark" name="bell" onclick="mplview(this)">Portfolio Bell Curves</button>-->
    <!--    </div>-->
    <!--    </center>-->

    <!--            </td>-->
    <!--        </table>-->
    <!--    </div>-->

    <!-- Backtesting is an anti feature upon further consideration ... reload
        Why? 
        1) A customer can come in with their non diversified risky portfolio and outperform a responsible portfolio on the backtest.
        2) To make quick live reliable presentations on the stock market, its best to extrapolate data than interpolate. expected return curves extrapolate, while backtesting interpolates. Backtesting is embarrassing on the spot.

    <div id="backtest"></div>
    <div id="weights"></div>
    -->
    <div style="position: relative; padding-left: 90%; top:10%">
        <a href="/logout">Secure Log Out</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script type="text/javascript" src="static/serialize.js"></script>
<script src="/static/request.js"></script>

<script>
    n = new Date();
    y = n.getFullYear();
    m = n.getMonth() + 1;
    d = n.getDate();
    document.getElementById("date-input").value = String(y) + "-" + String(m) + "-" + String(d);
    linkload();
</script>


</html>