<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cardiff, Provins, & Angel</title>
</head>

<body>



    <center>
        <br><br><br>
        <img class="logo" src="static/GreenstarBanner.png" style="width:500px;padding-top:100px;">

        <form action="/login" id="passcode_entry" method="POST">
            <input type="password" name="passcode" placeholder="Enter Passcode"><br><br>
            <input type="submit">
        </form>

    </center>

</body>

</html>