<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V96G09S6GZ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-V96G09S6GZ');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Greenstar Group</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Modal CSS -->
    <link href="static/css/modal_home.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/homepage.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-success gs-top-nav">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="static/img/GreenstarBannerWhite.png" height="40px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <!--                <li class="nav-item">-->
                    <!--                    <a class="nav-link" href="/">Home</a>-->
                    <!--                </li>-->
                    <li class="nav-item">
                        <a class="nav-link" href="/finance_home">Finance Software</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/crm_home">CRM Software</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Our Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/modules">Log In</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="gs-center-header py-5 mb-5">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-lg-12">
                    <h1 class="display-4 text-dark mt-5 mb-2">The Software Guys!</h1>
                    <p class="lead mb-5 text-dark-50"><i>With a computer science background from Carnegie Mellon and
                            years of software experience between us, <br>we are confident in our ability to deliver
                            world-class products directly to you.</i></p>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">


        <!-- Jacob's row -->
        <div class="row" id="jacob">
            <div class="team-picture">
                <img src="static/img/promise.jpg">
                <br>
                <h6 style="padding-top:4px;"><b> Jacob Hoffman, CEO </b></h6>
            </div>
            <!---->
            <div class="team-writing">

                <p>Jacob Graduated from Carnegie Mellon University with a B.S. in Electrical & Computer Engineering.
                    Jacob took
                    a variety advanced technical courses, such as Graduate Machine Learning, Operating Systems, and
                    Digital Signal Processing as well as served as a graduate level teaching assistant. Jacob's previous
                    software engineering work was with General Motors.</p>
                <p> Jacob's hobbies include playing chess, boxing, and staying involved with his local Jewish
                    community organizations.</p>
                <p> Jacob co-founded Greenstar Group with Oliver and is full-time with the company.</p>
            </div>
        </div>
        <!-- /.row -->

        <br>
        <hr>
        <br>

        <!-- Oliver's row -->
        <div class="row" id="oliver">
            <div class="team-picture">
                <img src="static/img/oliver-podcast.jpg">
                <br>
                <h6 style="padding-top:4px;"><b> Oliver Terrell, COO </b></h6>
            </div>
            <div class="team-writing">
                <p>Oliver studied Cognitive Neuroscience and Business at Carnegie Mellon University. He competed in
                    Varsity
                    Football and Varsity Track & Field, where he met Jacob.
                    Oliver's previous software engineering work was with Uncommoncore, a differentiated learning
                    platform
                    utilizing machine learning for automatic grading and progression of students.
                </p>
                <p>Oliver's hobbies include cooking, hiking with his dog Zoe, and staying involved with the
                    fitness, health & wellness community.</p>
                <p>Oliver co-founded Greenstar Group with Jacob and is full-time with the company.</p>
            </div>
        </div>
        <!-- /.row -->

        <br>
        <hr>
        <br>

        <!-- Olympus' row -->
        <div class="row" id="backing">
            <div class="team-picture">
                <img src="static/img/project-olympus.png">
                <br>
                <h6 style="padding-top:4px;"><b> Community Backing </b></h6>
            </div>
            <div class="team-writing">
                <p>Greenstar Group Inc. is a member of Carnegie Mellon's Project Olympus incubator.
                    This startup fund has resources and backing with a track record of success in skyrocketing the
                    growth of promising young companies.</p>
            </div>
        </div>
        <!-- /.row -->

        <br>
        <br>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Greenstar Group 2020</p>
        </div>
        <!-- /.container -->
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>

</body>

</html>